# .gitignore

# Mac
.DS_Store

# Vim
*.swp

# build directories
build/
target/
classes/
dist/

# R
*.Rhistory
.Rproj.user

# Python
__pycache__/
.ipynb_checkpoints/
*.pyc
*.egg-info

# Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# IDEA / netbeans
.idea
.gradle
nbproject
*.iml

# Latex
*.aux
*.bbl
*.log
*.toc
*.blg
*.synctex.gz

# Improbable
Projects/Probablistic/Improbable/NativeModel-keanu/results/*.csv
Projects/Probablistic/Improbable/NativeModel-keanu/results/*.dot
Projects/Probablistic/Improbable/NativeModel-keanu/results/*.html
Projects/Probablistic/Improbable/NativeModel-keanu/results/figures/
Projects/Probablistic/Improbable/NativeModel-keanu/results/*.png
Projects/Probablistic/Improbable/stationSim-keanu/simulation_outputs/
